<a href="https://colab.research.google.com/github/alice99vieira/BCC19AliceVieira/blob/main/Tarefa3AliceVieira.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Alice Vieira Garcia

#Tarefa (para agora)

Escrever um notebook do Colab para calcular o número de segundos , dado o número de horas contida em uma variável .

Colocar o seu nome e na primeira célula do Notebook.

O notebook deve estar com texto explicando o Notebook.

Use o notebook para encontrar o número de segundos para 1) uma hora e meia; 2) 12 horas; 3) 24 horas.

Os três resultados devem ser mostrados ao executar o notebook.

Coloque no seu repositório do Github o arquivo '.ipynb' contendo o notebook feito por você com o nome "Tarefa3SeuNome.ipynb".

In [4]:

H1 = 1.5
H2 = 12
H3 = 24

1) Uma hora e meia:

In [5]:
S = H1 * 3600
S

5400.0

2) 12 HORAS

In [6]:
S = H2 * 3600
S

43200

3) 24 HORAS

In [7]:
S = H3 * 3600
S

86400